.buttonsWrapper {
  width: 100%;
  display: flex;
  height: 3vh;
  margin: 10px 0px 30px;
  justify-content: center;
}
.myButton {
  background-color: #ced3d1;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  text-decoration: none;
  margin: 0px 5px;
}

.sortBy {
  font-weight: bold;
  color: #bbb9b9;
  margin-top: 2vh;
}

.myButton:hover {
  background-color: #6c7c7c;
}
