.beerPicture{
    height: 200px;
    
}
.beerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 250px;
    background-color: rgb(235, 241, 241);
    border: 2px solid black;
    margin: 20px 2;
    flex-basis: 25%
    
}

.pageWrapper {
    display: flex;
    justify-content: space-around;
   flex-wrap: wrap;
   
}