.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}
.beerLink {
  background-color: rgb(187, 185, 185);
  width: 100%;
  transition: 0.3s ease-in-out;
  height: 3rem;
  border-left: rgb(114, 114, 114) 2px solid;
  &:hover{
    background-color: rgb(109, 108, 108);
  }
}

.link {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  margin-top: 1.2vh;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .link {
    font-size: 1.2rem;
  }
}
